saves/
craftpresence/
crafttweaker.log
dropt.log
hc_options.txt
hookt.log
hotbar.nbt
local/client/rtdata.json
local/minetogether/gdpr.txt
local/minetogether/ingameChatFile.txt
mods/
shaderpacks/
*.log
backups/
usercache.json
usernamecache.json
