# Configuration file

fluidict {
    # Fluids to hide/show
    # Put in the registry name of the fluid you want to hide/show
    # i.e. 'water' or 'lava' (without the quotes)
    S:fluidList <
        liquidalumina
        liquidaluminium
        liquidbrass
        liquidbronze
        liquidcopper
        liquidcupronickel
        liquidelectrum
        liquidenderium
        liquidglass
        liquidglassblack
        liquidglassblue
        liquidglassbrown
        liquidglasscyan
        liquidglassgray
        liquidglassgreen
        liquidglasslight_blue
        liquidglasslime
        liquidglassmagenta
        liquidglassorange
        liquidglasspink
        liquidglasspurple
        liquidglassred
        liquidglasssilver
        liquidglasswhite
        liquidglassyellow
        liquidgold
        liquidinvar
        liquidiron
        liquidlead
        liquidlumium
        liquidnickel
        liquidosmium
        liquidplatinum
        liquidsignalum
        liquidsilver
        liquidsteel
        liquidtin
        liquidzinc
        aerotheum
        biocrude
        coal
        creosote
        crude_oil
        cryotheum
        crystalfloe
        ender
        glowstone
        mana
        petrotheum
        potion
        potion_lingering
        potion_splash
        pyrotheum
        redstone
        refined_biofuel
        refined_fuel
        refined_oil
        resin
        sap
        seed_oil
        steam
        syrup
        tamoltenauroriansteel
        tamoltencerulean
        tamoltenmoonstone
        tamoonwater
        tree_oil
     >

    # Should the fluid list below act as a whitelist? true for whitelist, false for blacklist
    B:isWhitelist=false

    ##########################################################################################################
    # hovertext
    #--------------------------------------------------------------------------------------------------------#
    # Items to show when fluid is hovered over
    ##########################################################################################################

    hovertext {
        # Should color be shown?
        B:showColor=false

        # Should density be shown?
        B:showDensity=false

        # Should gaseousness be shown?
        B:showGaseous=false

        # Should luminosity be shown?
        B:showLuminosity=false

        # Should name be shown?
        B:showName=true

        # Should placeability be shown?
        B:showPlaceable=false

        # Should temperature be shown?
        B:showTemperature=false

        # Should unlocalized name be shown?
        B:showUnlocalizedName=false

        # Should viscosity be shown?
        B:showViscosity=true
    }

}


